# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
.vs/
.vshistory/
debug_img/
debug_img-tmp/
双曲面标准器曲率图exe/
test/
x64/
*.zip
*.jpg
*.pcd
*.pt
*.swp

